.main

  .main__header

    .main__header__groupname
      taigasグループ

      .main__header__groupname__member
        Member : 
        taiga
        ofana

    .mian__header__edit
      = link_to'#', class: "main__header__edit" do
        Edit
  .main__comments

    .main__comments__info

      .main__comments__info--username
        taiga

      .main__comments__info--date
        2020/2/7(fry)20:31:42

    .main__comments__comment
      おはよう

  .main__form

    .main__form__box
      %input(type="text" placeholder="type a message")/

      .main__form__box__picture
        %label{class: "main__form__box__picture--label"}
          = icon('fas', 'image')
          %input{type: "file", class: "file"}


    .main__form__send
      send


