.side

  .side__header

    .side__header__box

      .side__header__box__username
        taiga

      .side__header__box__btns
        = link_to'#', class: "side__header__box__btn--edit" do
          = icon('fas','edit', class: "side__header__box__btn")
        = link_to'#', class: "side__header__box__btn--setting" do
          = icon('fas', 'cog', class: "side__header__box__btn")

  .side__groups

    .side__groups__name
      taigas
      
    .side__groups__message
      まだメッセージがありません