*{
  box-sizing: border-box;
}

 .wrapper {
   display: flex;
 }

.side {
  color:black;
  height: 100vh;
  width: 300px;

  &__header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    &__box {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      height: 20px;
      width: 260px;

      &__username {
        color: $side-color;
        font-size: 16px;
      }
      &__btn {
        color: $side-color;

        &--edit {
          margin-right: 5px;
        }
      }
    }
  }
  &__groups {
    background-color: #2f3e51;
    color: $side-color;
    height: calc(100vh - 100px);
    text-decoration: none;
    
    .group__name {
      color: white;
      font-size: 15px;
      height: 15px;
      width: 260px;
      padding: 20px 20px 0 20px;
    }

    .group__message {
      color: white;
      font-size: 11px;
      height: 11px;
      width: 260px;
      padding: 40px 20px;
    }
  }
}

a{
  text-decoration: none;
}




.main {
  height: 100vh;
  width: calc(100% - 300px);

  
  &__header {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px #eeeeee;
    

    &__groupname {
      color: #333333;
      margin: 35px 0 0 40px;

      &__member {
        color: #999999;
        margin-top: 15px;
        font-size: 12px;
      }
    }

    &__edit {
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      text-decoration: none;
    }
  }

  &__comments {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px;
    overflow: scroll;

    &__info {
      display: flex;
      margin-bottom: 12px;

      &--username {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
      }

      &--date {
        color: #999999;
        font-size: 12px;
        margin-left: 5px;
        text-decoration: none;
      }
    }

    &__comment {
      color: #434a54;
      font-size: 14px;
      margin-bottom: 46px;
    }
  }
  
  // &__form {
  //   background-color: #d2d2d2;
  //   height: 90px;
  //   padding: 20px 40px;
  //   display: flex;
  //   justify-content: space-between;

  &__form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;

    &__new_message {
      display: flex;

      &__box {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }

      &__picture {

        &--label {
          position: relative;

          .icon {
            font-size: 25px;
            position: absolute;
            top: 12.5px;
            right: 10px;
            cursor: pointer;    
          }

          .file {
            display: none;
          }
        }
      }

      &__send {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }


}
.file {
  display: none;

}